tqdm==4.67.3
numpy==2.3.5
matplotlib==3.10.8
matplotlib-inline==0.2.1
pandas==3.0.0
scikit-learn==1.8.0
wget==3.2
pytest==9.0.3
torchvision==0.25.0+cu128
torchinfo==1.8.0
torchmetrics==1.9.0
einops==0.8.2
black>=22.6
coverage==7.14.1
darglint==1.8.1
isort==8.0.1
pipreqs==0.4.11
pre_commit==4.6.0
pytest-cov==7.1.0
transformers==5.10.2
seaborn==0.13.2
SciencePlots==2.2.1
scikit-image==0.26.0
codecov==2.1.13
randomname==0.2.1
wandb==0.27.2
torch-lr-finder==0.2.2
loguru==0.7.3
fairlearn==0.13.0
opencv-python==4.13.0.92
